@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --base: #fff;
  --neutral: #000;
  --neutral-1: #2c3137;
  --neutral-2: #838a95;
  --neutral-3: #b8bcc3;
  --primary: #b9927b;
  --secondary: #ff564e;
  --accent: #2e30f5;
}

body {
  font-family: "Poppins", sans-serif;
}

.app-container {
  background: var(--base);
}

.dark-theme {
  --base: #2c3137;
  --neutral: #000;
  --neutral-1: #b8bcc3;
  --neutral-2: #838a95;
  --neutral-3: #2c3137;
  --primary: #b9927b;
  --secondary: #ff564e;
  --accent: #2e30f5;
}

.content-layout {
  max-width: 1280px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

//HEADER

.header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  position: relative;
}

.theme-button {
  position: absolute;
  top: 0;
  right: 20px;
  background: var(--neutral-1);
  color: var(--base);
  font-size: 9px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 4px 8px;
  border-radius: 0 0 4px 4px;
  strong {
    font-weight: 600;
  }
}

.logo-link {
  display: block;
  margin: 0 auto 0 0;
  background: var(--secondary);
  padding: 12px;
  border-radius: 50px;
}

.search-input {
  min-width: 300px;
  border: 1px solid var(--neutral-3);
  color: var(--neutral-1);
  padding: 10px;
}

.search-button {
  border: none;
  background: var(--accent);
  padding: 7px;
  font-size: 0;
  cursor: pointer;
  color: var(--base);
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.watchlist {
  color: var(--neutral-1);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid var(--secondary);
  cursor: pointer;
}

.watchlist:hover {
  border-bottom: 2px solid var(--neutral);
}

.watchlist-icon {
  margin-right: 5px;
  color: var(--primary);
  &:hover {
    color: var(--secondary);
  }
}

//END HEADER

//PAGE CONTENT
.page-title {
  font-size: 60px;
  line-height: 50px;
  font-weight: 600;
  color: var(--neutral-1);
  margin-bottom: 50px;
}

.submenu {
  color: var(--neutral-2);
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
  label {
    font-size: 11px;
    color: var(--neutral-1);
    font-weight: 600;
    cursor: pointer;
  }
}

.field-radio {
  position: relative;
  margin: 0 10px 0 0;
  &:last-child {
    margin: 0;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    visibility: hidden;
    &:checked + label:after {
      background: var(--accent);
      width: 100%;
    }
  }
  label {
    padding: 5px 0;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 4px;
      position: absolute;
      bottom: -4px;
      border-radius: 2px;
      left: 0;
      background: var(--neutral-3);
      transition: all 0.3s ease;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

.form-sort,
.form-filter {
  display: flex;
}

.field-select {
  margin: 0 15px 0 0;
  label {
    display: block;
  }
  select {
    min-width: 171px;
    padding: 5px;
    border: 1px solid var(--neutral-3);
    cursor: pointer;
  }
}

.submenu--filter {
  display: flex;
  flex-wrap: wrap;
  form {
    width: 100%;
  }
  h2 {
    flex-grow: 1;
  }
}

.reset-filters-button {
  position: relative;
  font-size: 11px;
  line-height: 14px;
  color: var(--neutral-1);
  background: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  border-bottom: 1px dashed var(--neutral-2);
  &:hover {
    border-bottom: 1px solid var(--neutral-1);
  }
  &:before {
    content: "x";
    position: absolute;
    left: -7px;
    top: 5px;
    font-size: 9px;
  }
}

//END FILTERS
.cartoon-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}

.cartoon-item {
  max-width: 280px;
  text-transform: uppercase;
  color: var(--neutral-1);
  line-height: 14px;
  position: relative;
  margin: 0 25px 30px 0;
}

.cartoon-item__episode {
  font-size: 9px;
}

.cartoon-item__cover {
  display: block;
  position: relative;
  margin: 0 0 10px 0;
  filter: grayscale(0);
  transition: all ease 0.3s;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &:hover {
    filter: grayscale(1);
  }
}

.cartoon-item__cover__rating {
  display: block;
  position: absolute;
  font-size: 9px;
  transform: rotate(-90deg);
  transform-origin: 0 100%;
  left: 0;
  bottom: 0;
  color: var(--neutral-1);
  pointer-events: none;
}

.cartoon-item__year {
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 600;
}

.cartoon-item__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

.cartoon-item__fav {
  position: absolute;
  right: 3px;
  top: 20px;
  padding: 4px 4px 0 4px;
  cursor: pointer;
  background: var(--base);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  svg {
    transform: scale(2);
    color: var(--accent);
    opacity: 0.8;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.cartoon-item__fav--remove {
  svg {
    color: var(--secondary);
  }
}

.error-message {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

//END LIST

.detail {
  display: flex;
  justify-content: space-evenly;
}

.detail-image {
  position: relative;
}

.detail-title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: var(--neutral-1);
  margin-bottom: 25px;
}

.detail-table {
  border: 2px solid var(--neutral-1);
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--neutral-1);
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 25px;
  span {
    color: var(--primary);
    margin-right: 5px;
  }
  td {
    padding: 10px 20px;
  }
}

.table-title {
  border-bottom: 1px solid var(--neutral-1);
}

.info-cell {
  border-right: 1px solid var(--neutral-1);
  &:last-child {
    border: none;
  }
}

.link-list {
  font-size: 11px;
  line-height: 16px;
  display: flex;
  h3 {
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: 3px;
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    color: var(--neutral-1);
    border-bottom: 1px solid var(--neutral-3);
    &:hover {
      color: var(--primary);
    }
  }
}

.genre {
  margin-left: 40px;
}

.footer {
  background: var(--neutral-1);
  color: var(--base);
  padding: 20px 0;
  margin-top: 100px;
}

.content-layout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  h4 {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 4px;
    font-weight: 600;
    color: var(--base);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  a {
    color: var(--base);
    vertical-align: middle;
    margin-right: 15px;
    &:hover {
      color: var(--secondary);
    }
    &:last-child {
      margin: 0;
    }
    svg {
      width: 40px;
      height: auto;
    }
  }
}
