$base: #fff;
$neutral: #000;
$neutral-1: #2c3137;
$neutral-2: #838a95;
$neutral-3: #b8bcc3;
$primary: #b9927b;
$secondary: #ff564e;
$accent: #2e30f5;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.content-layout {
  max-width: 1280px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

//HEADER

.header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.logo {
  margin: 0 auto 0 0;
}

.search-input {
  min-width: 300px;
  border: 1px solid $neutral-3;
  background: $base;
  color: $neutral-1;
  padding: 10px;
}

.search-button {
  border: none;
  background: $accent;
  padding: 7px;
  font-size: 0;
  cursor: pointer;
  color: $base;
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.watchlist {
  color: $neutral-1;
  text-decoration: none;
  border-bottom: 2px solid $secondary;
  cursor: pointer;
}

.watchlist:hover {
  border-bottom: 2px solid $neutral;
}

//END HEADER

//PAGE CONTENT
.page-title {
  font-size: 60px;
  line-height: 50px;
  font-weight: 600;
  color: $neutral-1;
  margin-bottom: 50px;
}

.submenu {
  color: $neutral-2;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
  label {
    font-size: 11px;
    color: $neutral-1;
    font-weight: 600;
    cursor: pointer;
  }
}

.field-radio {
  position: relative;
  margin: 0 10px 0 0;
  &:last-child {
    margin: 0;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    visibility: hidden;
    &:checked + label:after {
      background: $accent;
      width: 100%;
    }
  }
  label {
    padding: 5px 0;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 4px;
      position: absolute;
      bottom: -4px;
      border-radius: 2px;
      left: 0;
      background: $neutral-3;
      transition: all 0.3s ease;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

.form-sort,
.form-filter {
  display: flex;
}

.field-select {
  margin: 0 15px 0 0;
  label {
    display: block;
  }
  select {
    min-width: 171px;
    padding: 5px;
    border: 1px solid $neutral-3;
    cursor: pointer;
  }
}

.submenu--filter {
  display: flex;
  flex-wrap: wrap;
  form {
    width: 100%;
  }
  h2 {
    flex-grow: 1;
  }
}

.reset-filters-button {
  position: relative;
  font-size: 11px;
  line-height: 14px;
  color: $neutral-1;
  background: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  border-bottom: 1px dashed $neutral-2;
  &:hover {
    border-bottom: 1px solid $neutral-1;
  }
  &:before {
    content: "x";
    position: absolute;
    left: -7px;
    top: 5px;
    font-size: 9px;
  }
}

//END FILTERS
.cartoon-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}

.cartoon-item {
  max-width: 280px;
  text-transform: uppercase;
  color: $neutral-1;
  line-height: 14px;
  position: relative;
}

.cartoon-item__episode {
  font-size: 8px;
}

.cartoon-item__cover {
  display: block;
  position: relative;
  margin: 0 0 10px 0;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.cartoon-item__cover__rating {
  display: block;
  position: absolute;
  font-size: 9px;
  transform: rotate(-90deg);
  transform-origin: 0 100%;
  left: 0;
  bottom: 0;
  color: $neutral-1;
  pointer-events: none;
}

.cartoon-item__year {
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 600;
}

.cartoon-item__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

.cartoon-item__fav {
  position: absolute;
  right: 3px;
  top: 20px;
}

//END LIST

.detail-title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: $neutral-1;
  margin-bottom: 25px;
}

.detail-table {
  border: 2px solid $neutral-1;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: $neutral-1;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 25px;
  span {
    color: $primary;
    margin-right: 5px;
  }
  td {
    padding: 10px 20px;
  }
}

.table-title {
  border-bottom: 1px solid $neutral-1;
}

.info-cell {
  border-right: 1px solid $neutral-1;
  &:last-child {
    border: none;
  }
}

.link-list {
  font-size: 11px;
  line-height: 16px;
  display: flex;
  h3 {
    text-transform: uppercase;
    color: $primary;
    letter-spacing: 3px;
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    color: $neutral-1;
    border-bottom: 1px solid $neutral-3;
    &:hover {
      color: $primary;
    }
  }
}

.footer {
  background: $neutral-1;
  color: $base;
  padding: 20px 0;
  margin-top: 100px;
}

.content-layout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  h4 {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 3px;
    font-weight: 600;
    color: $base;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  a {
    color: $base;
    vertical-align: middle;
    margin-right: 10px;
    &:hover {
      color: $secondary;
    }
    &:last-child {
      margin: 0;
    }
    svg {
      width: 30px;
      height: auto;
    }
  }
}
